body {
  font-family: 'Roboto', sans-serif;
}

.mobile-logo {
  max-width: 3.125rem;
}

header {
  max-width: 100vw;
}

li {
  list-style: none;
}

.left {
  background-color: #142a40;
  background-image: url('img/sidebar-bg.png');
  max-width: 150px;
}

@media (min-width: 1200px) {
  .left {
    width: 9.375rem;
  }
}

.top .badge {
  background-color: #165bba;
}

.fa-square-plus {
  font-size: 2.5rem;
}

.class-avatar {
  max-width: 30px;
}

table th {
  font-weight: normal;
}

.stats {
  max-width: 100%;
}
